.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
     align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #1f1f1f;
}
.home{
    padding: 10px;
}
.rounded{
  border-radius: 5px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    background-color: #2c2c2c; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #444; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded edges for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666; /* Color on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin; /* Makes the scrollbar thin */
    scrollbar-color: #444 #2c2c2c; /* Thumb color and track color */
}